extends layout

block content
  main.container.ContentView(role='main')
    .jumbotron
      h1.LetrasBlancas= title
    div.Lista
      div.row.gy-1.gx-2.align-items-center
        div.col-auto
          h2.LetrasBlancas 'Lista de Clientes'
        div.col-auto
          a.btn.btn-lg.btn-primary(href='clientes/crear' role='button') + Nuevo Cliente
      table(border='1').listing-table.table-info.table-striped
        tr.table-info
          th Nombres
          th Apellidos
          th Celular
          th Correo
          th Citas
          th Atenciones
        for cliente in clienteList
          tr.table-info
            td= cliente.nombres
            td= cliente.apellidos
            td= cliente.celular
            td= cliente.correo
            td
              a(href='/citas?idCliente='+cliente._id) Ver Citas
            td
              a(href='/atenciones/ver?idCliente='+cliente._id) Ver Atenciones
